
body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    border-right: black 5px solid;
}

.name {
    background-color: gray;
}

.addNewBook {
    display: flex;
    flex-direction: column;
}

.addNewBook__form-name {
    margin-bottom: 20px;
}

.addNewBook__form-button {
    width: 100px;
    margin-top: 10px;
}

.addNewBook__form-text {
    height:250px;
    width: 500px;
    display: flex;
    justify-content: start;
}

.read {
    align-items: center;
    word-wrap: break-word;
}

.read__space {
    width: 900px;
    height: 1000px;
    overflow: auto;
}

.books__item {
    display: flex;
    flex-direction: row;
    background-color: #d3d3d3;
    align-items: center;
}

.books__item-wasRead {
    display: flex;
    flex-direction: row;
    background-color: #90ee90;
    align-items: center;
}

.books__item-title {
    width:100px;
    word-wrap: break-word
}

.books__item-button {
    cursor:pointer;
    margin: 5px 5px;
    height: 20px;
    border-radius: 5px;
    border-style:none;
}

.books__item-button-delete {
    color: white;
    background-color: #D55E5E;
    cursor:pointer;
    margin: 5px 5px;
    height: 20px;
    border-radius: 5px;
    border-style:none;
}

.dropzone-start{
    height: 50px;
    background-color: white;
}

.dropzone-start2{
    height: 50px;
    background-color: white;
}

.dropzone-drop{
    height: 50px;
    border: 2px solid gray;
    background-color: honeydew;
    text-align: center;
}
.dropzone-drop2{
    height: 50px;
    border: 2px solid gray;
    background-color: honeydew;
    text-align: center;
}
